{% extends 'bootstrap3.html' %}


{% block content %}
    {% for error in form.errors %}
        {{error}}
{% endfor %}
<br><br><br><br><br>
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-2 main">
    <form action="." method="post" name="Add feedback">{% csrf_token %}
        
        <div class="form-group">
            
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="fdb" placeholder="name" name="name" value="{{user.username}}">
    
        </div>
        
        <div class="form-group">
            
    <label for="phonenumber">Phone Number:</label>
    <input type="text"  class="form-control"  placeholder="Format +25455599933" name="phonenumber" value="">
            
        </div>
        <div class="form-group">
            <label for="neighborhood">Neighbourhood:</label>
            <select class="form-control"  placeholder="Neighbourhood" name="neighbourhood" value="">
                <option>Select</option>
                <option>South B</option>
                <option>Ngong</option>
                <option>Rongai</option>
                <option>Huruma</option>
                <option>Kiambu</option>
            </select>
            
        </div>
        <div class="form-group">
            <label for="rating">Rating(select one):</label>
            
            <select class="form-control" id="fdb" placeholder="Rating" name="rating" value="">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="comments">Comments:</label>
            <textarea class="form-control" rows="5" name="comments" id="comments" value=""></textarea>
        </div>
        
        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        
    </form>
</div>


<p> Click  <a href="/accounts/logout/">Here</a> to logout </p>
{% endblock %}