{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}django-bootstrap3{% endblock %}

{% block content %}
   This is <em>bootstrap3</em> for <strong>Django</strong>.
    {% bootstrap_button 'save' %}

    {% bootstrap_field form.message placeholder='bonkers' %}
{% endblock %}