{% extends 'base.html' %}
{% block content%}
	<br><br><br><br> 
	<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-2 main">
		<h1 class="page-header">Dashboard - Hi {{full_name}} </h1><h2></h2>
		<div class="row placeholders">
			<p class="text-muted">  <a href="/userfeedback/form_data/"><h2>Give Feedback</h2></a></p>
		</div>
	</div>
	<div class="col-sm-3 col-md-2 sidebar">
		{% if user.is_superuser %}
			<div class="alert alert-success" role="alert">
				You are logged in as {{user.username}}, here are the
				<a href="/admin/">admin pages</a> for changing content.
			</div>
		{% endif %}
		<p> Click  <a href="/accounts/logout/">Here</a> to logout </p>
	</div>
{% endblock %}