{% extends 'bootstrap3.html' %}


{% block content %}
{% if form.errors %}
<p class="error"> Sorry , thats not a valid username or password</p>
{% endif %}
<br><br><br><br><br>
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-2 main">
<form action="/accounts/auth/" method="post">{% csrf_token %}

    <label for="username">Username:</label>
    <input type="text" name="username" value="" id="username"/>
     <label for="username">Password:</label>
    <input type="password" name="password" value="" id="password"/>
    <input type="submit" value="login">

</form>
</div>

{% endblock %}