{% extends 'bootstrap3.html' %}


{% block content %}
{% if messages %}
    <div class="alert alert-info" role="alert">

        <p>{{messages}}</p>
    </div>
{% endif %}
<br><br><br><br><br>
<p> Click  <a href="/accounts/login/">Here</a> to login </p>

{% endblock %}