{% extends 'base.html' %}

{% block content %}
<br><br><br><br><br>
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-2 main">
<h2>
    You have successfully registered

</h2>

<p> Click <a href="/accounts/login/">here</a>  to login</p>

</div>
{% endblock %}