{% extends 'bootstrap3.html' %}


{% block content %}
<br><br><br><br><br>
<div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-2 main">
<form action="/accounts/register/" method="post">{% csrf_token %}

    {{form.as_p}}
    <input type="submit" value="Register">

</form>
</div>
{% endblock %}